<br>
<br>
<br>
<br>
<br>
<div class="conversation">


  <% if @over_ten %>
  <%= link_to 'Show Previous', '?m=all' %>
  <% end %>

  <% @messages.each do |message| %>
  <% if message.body %>
  <% user = User.find(message.user_id) %>
  <% if user = current_user %>
  <div class="text-center">
    <h4><strong><%= user.email %></strong></h4>
    <p><%= message.message_time %></p>
    <p><%= message.body %></p>
  </div>
  <% else %>
  <div class="text-right">
    <h4><strong><%= user.email %></strong></h4>
    <p><%= message.message_time %></p>
    <p><%= message.body %></p>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>

<%= f.text_area :body, class: "form-control" %>

<%= f.text_field :user_id, value: current_user.id, type: "hidden" %>

<%= f.submit "Add Reply", class: "btn btn-primary" %>

<% end %>
