<div class="profile-wrapper">
  <p></p>
  <p><%= @user.email  %></p>
  <p><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></p>
</div>
<div class="profile-container">
  <div class="profile-top">
   <% avatar_url =  @user.photo || "https://www.w3schools.com/howto/img_avatar.png" %>
   <%= cl_image_tag avatar_url, height: 100, width: 100, crop: :fill, class: "user-avatar" %>
   <h2><%= @user.nickname %></h2>
 </div>
 <div class="profile-followers">
   <h2><%= @posts.count %></h2>
   <p>Publications</p>
 </div>
 <div class="profile-followers">
   <h2><%= @user.followers.count %></h2>
   <p>Followers</p>
 </div>
 <div class="profile-followers">
   <h2><%= @user.following.count %></h2>
   <p>Following</p>
 </div>
 <% if current_user == @user %>
 <div class="edit-profile">
  <%= link_to "Edit profile", edit_user_path, class: "btn-edit-profile" %>
</div>
<% else %>
<% if current_user.is_following?(@user.id) %>
<%= link_to "Unfollow", unfollow_user_path(@user.id), method: :post, remote: true, class: "btn-edit-profile" %>
<% else %>
<%= link_to "Follow", follow_user_path(@user.id), method: :post, remote: true, class: "btn-edit-profile" %>
<% end %>
<% end %>
</div>



<% @posts.each do |post| %>
<%= render 'shared/cards', post: post %>
<% end %>
