<div class="footer-container">
  <div class="footer-home">
    <%= link_to root_path do %>
    <i class="fas fa-home"></i>
    <% end %>
  </div>
  <div class="footer-user">
    <%= link_to users_path do %>
    <i class="fas fa-search"></i>
    <% end %>
  </div>
  <div class="footer-add">
   <% if policy(Post).create? %>
   <%= link_to  new_post_path do %>
   <i class="far fa-plus-square"></i>
   <% end %>
   <% end %>
 </div>
 <div class="footer-image">
  <% if user_signed_in? %>
  <%= link_to  current_user do %>
  <% avatar_url =  current_user.photo || "https://www.w3schools.com/howto/img_avatar.png" %>
  <%= cl_image_tag avatar_url, height: 50, width: 50, crop: :fill, class: "user-avatar" %>
  <% end %>
  <% else %>
  <% end %>
</div>
</div>


