<div class="form-container">
  <%= simple_form_for @post do |f| %>
    <%= f.input :photo, input_html: { class: 'hidden' }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>

  <%= f.input :photo_cache, as: :hidden %>
  <%= f.input :title %>

  <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
