<div class="post-show-container">
  <div class="show-image-top">
    <% avatar_profile =  @post.user.photo || "https://www.w3schools.com/howto/img_avatar.png" %>
    <%= cl_image_tag avatar_profile, crop: :fill%>
    <% title = @post.user.nickname || @post.user.email%>
    <h3><%= title %></h3>
  </div>
  <div class="card-image">
    <%= cl_image_tag @post.photo, height: 400, crop: :fill %>
  </div>
  <div class="card-comments">
    <div id="likes">
      <%= render partial: 'likes', locals: { post: @post } %>
    </div>
    <%= link_to post_path(@post) do  %>
    <i class="far fa-comment"></i>
    <% end %>
    <% if policy(@post).destroy? %>
    <%= link_to @post,  method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fas fa-trash-alt"></i>
    <% end %>
    <% end %>
    <% if policy(@post).edit? %>
    <%= link_to edit_post_path(@post) do %>
    <i class="fas fa-pencil-alt"></i>
    <% end %>
    <% end %>
  </div>
  <div class="likes-count">
    <% if @post.likes.count > 0 %>
    <strong><%= @post.likes.count %> Likes</strong>
    <% else %>
    <% end %>
  </div>
  <div class="card-description">
    <strong><%=title %></strong>
    <% @post.title.to_s.split(' ').each do |word| %>
    <% if word.start_with?('#') %>
    <%= link_to word, search_path(query: word) %>
    <%else %>
    <%= word %>
    <%end %>
    <% end %>
  </div>
  <div class="post-show-coments">
    <h2><span id="review-count"><%=@post.reviews.size%></span> Coments</h2>
  </div>
  <div id="reviews">
    <% @post.reviews.each do |review| %>
    <%= render 'reviews/show', review: review %>
    <% end %>
  </div>
  <%= render 'reviews/form', post: @post, review: @review %>
</div>


